@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    max-height: 20rem;
}

body {
    background-color:  rgb(219, 216, 196); 
}

.banner {
    display: flex;
    height: 3rem;
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/images/paper.jpg);
    border-bottom: 1px solid black;
    box-shadow: 0px 10px 15px rgb(177, 174, 157);
}

.watermark_box {
    display: block;
    margin: auto;
    width: 4rem;
    padding-bottom: 3rem;
}

.watermark {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    background-image: linear-gradient(rgba(255,255,255,0.5), 95%, rgba(66, 66, 66, 0.5)), url(/images/paper.jpg);
}

.nav_link {
    line-height: 3rem;
    width: 33.333333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.nav-icon {
    display: none;
}

.vl {
    height: 70%;
    width: 0;
    border-right: 2px dotted gray;
}

.nav_link:hover {
    border: 5px solid rgb(28, 96, 241);
    color: rgb(28, 96, 241);
    line-height: 2rem;
}

.main {
    min-height: 620px;
    margin: auto;
    margin-bottom: 23px;
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/images/paper.jpg);
    /* border-bottom: 6px solid #a3a3a3;
    border-left: 6px solid #a3a3a3;
    border-right: 6px solid #a3a3a3; */
    box-shadow: 0px 10px 15px rgb(177, 174, 157);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project_pic:hover {
    border: solid rgb(28, 96, 241) 5px;
} 

.section_pic {
    border-radius: 10px;
    margin-bottom: 3%;
}

.section_pic_box a {
    margin: auto;
}

.section_pic_box {
    display: flex;
}

.header {
    text-align: center;
    padding-bottom: 8%;
    padding-top: 14%;
    font-weight: Bolder;
    font-size: 80px;
    color: rgb(219, 216, 196);
}

.page_content {
    padding: 0% 5%;
    margin-bottom: 6rem;
}

.detail_content {
    padding: auto;
    margin-bottom: 6rem;
    margin: auto;
}

.detail_content h2 {
    margin-top: 3rem;
    margin-bottom: 7rem;
    text-align: center;
    font-size: 5rem;
}

.detail_section {
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.detail_pic_box {
    margin: auto;
    width: 40%;
}

.page_section_head {
    align-items: center;
}

.page_section_head_text {
    margin: 1% 0;
}

a .page_section_head_text {
    color: blue;
}

.project_links {
    font-size: 12px;
    min-width: 98px;
}

.live_link {
    padding-right: .5rem;
    border-right: solid black 2px;
}

.git_link {
    padding-left: .4rem;
}

.page_section_text {
    background: 
            url(/images/top_left.jpg) no-repeat top left / 15px 15px,
            url(/images/top_right.jpg) no-repeat top right / 15px 15px,
            url(/images/bottom_right.jpg) no-repeat bottom right / 15px 15px,
            url(/images/bottom_left.jpg) no-repeat bottom left / 15px 15px;
    padding: 2% 2%;
    margin-top: 10%;
    text-align: center;
}

.quote {
    width: 90%;
    margin: auto;
    padding: 0% 0 15% 0;
    min-width: 10rem;
    max-width: 30rem;
    text-align: center;
}

.foot_banner {
    width: 75%;
    max-width: 40rem;
    background: rgb(219, 216, 196);
    margin: 0 auto;
    max-height: 5rem;
}

.foot_button {
    justify-content: center;
    padding: .5rem;
    max-width: 5rem;
}

.social_link :hover{
    background-color: #1c60f1;
    border-radius: 8px;
}

.resume_body {
    display: flex;
    justify-content: center;
}

.resume_main {
    padding: 1.5rem;
    max-width: 810px;
    justify-content: center;
}

.resume_header {
    border-bottom: 3px dotted gray;
    padding-bottom: 7%;
    margin-bottom: 7%;
}

.resume_intro {
    margin-left: 1rem;
    padding-bottom: 2rem;
}

.resume_head {
    padding-left: 10%;
    margin-top: 2rem;
}

.resume_text {
    background: 
            url(/images/top_left.jpg) no-repeat top left / 15px 15px,
            url(/images/top_right.jpg) no-repeat top right / 15px 15px,
            url(/images/bottom_right.jpg) no-repeat bottom right / 15px 15px,
            url(/images/bottom_left.jpg) no-repeat bottom left / 15px 15px;
    padding: 9px 9px;
    margin-left: 8%;
}

.resume_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.skill_line {
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin-top: .5rem;
}

.skill {
    display: flex;
    width: 100%;
    max-width: 10rem;
    align-items: center;
}

.skill_description {
    margin-left: 4%;
    max-width: 70%;
}

.resume_bottom {
    margin-bottom: 5rem;
}


@media screen and (min-width: 768px) {
    .main {
        width: 90%;
    }

    .nav_link {
        font-size: 20px;
    }

    .nav-icon {
        width: 2rem;
        display: block;
        margin-right: 5px;
    }

    .banner {
        height: 4rem;
    }

    .foot_button {
        max-width: 6rem;
        min-width: 6rem;
        padding: 1.5rem;
    }

    .header {
        font-size: 100px;
    }

    .nav_button {
        font-size: 30px;
    }

    .page_content {
        display: flex;
        min-height: 20rem;
        justify-content: space-evenly; 
    }

    .header {
        text-align: left;
        padding: 10% 4% 7% 4%;
    }

    .resume_header {
        border-bottom: 3px dotted gray;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .section_pic_box {
        width: 40%;
    }

    .page_section {
        width: 40%;
    }

    .page_section_head_text {
        margin: 5% 0;
    }

    .page_section_text {
        padding: 10% 5%;
        margin-top: 0;
        text-align: left;
    }

    .quote {
        padding: 5% 0 10% 0;
    }
}

@media screen and (min-width: 915px) {
    .resume_main {
        border-left: 5px solid black;
        border-right: 5px solid black;
    }

    .resume_header {
        padding-left: 0;
        border-bottom: 3px dotted gray;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .page_section_head {
        display: flex;
        justify-content: space-between;
    }
}